<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Euclidian Sequencer</title>
        <link rel="stylesheet" type="text/css" href="css/switches.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/dot_colors.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://unpkg.com/@webcomponents/webcomponentsjs@^2/webcomponents-bundle.js"></script>
        <script src="https://unpkg.com/tone"></script>
        <script src="https://unpkg.com/@tonejs/ui"></script>

        <script type="text/javascript" src="js/sound.js"></script>
        <script type="text/javascript" src="js/arrange_radial.js"></script>
        <script type="text/javascript" src="js/voice_display.js"></script>


    </head>
    <body>
      <div id="controls-container">
        <div id="controls">
          <h1><u>Euclidian Sequencer</u></h1>
          <h2>Ethan Rountree, Phi Nguyen, Porter Libby</h2>
          <div id='controlbtns'>
            <button id="general_btn" class='btn_control' type="button">General</button>
            <%for (var i = 1; i < numCycles+1; i++){%>
                <button id="v<%=i%>_btn" class='btn_control' type="button" >Voice<%=i%></button>
            <%}%>
          </div>
          <div id='general'>
            <div id="playpause_container">
              <button class='playpause'></button>
            </div>
            </br>

            <div id="voice_amount">
              <span>NUMBER OF VOICES</br></span>

              <button class="voice_button" onclick="removeVoice()" style="display: inline;">
                <span class="voice_button_label"><strong>-</strong></span>
              </button>
              <strong>
                <span id="voice_num_value">3</span>
              </strong>

              <button class="voice_button" onclick="addVoice()" style="display: inline;">
                <span class="voice_button_label"><strong>+</strong></span>
              </button>
            </div>

            <label for="steps_num">STEPS PER MEASURE</label>
            <input type="range" id="step_val"class="slider" name="steps_num" min="1" max="16" value="1" step="1"
              oninput="populateAll()"
              onchange="populateAll()">

            <label for="tempo_num">TEMPO</label>
            <input type="range" class="slider" id = "tempo_val" name="tempo_num" min="0" max="16" value="1" step="1"
              oninput=""
              onchange="">
          </div>
            <%for (var i = 1; i < numCycles+1;i++){ %>
              <div id="voice<%=i%>">
                <h3>Voice <%=i%></h3>
                <div class='keyboard'>
                    <div class="whitekey" onclick="updatePitchWrapper(this,0,<%=i%>)"><p>C</p></div>
                    <div class="blackkey" onclick="updatePitchWrapper(this,1,<%=i%>)"><p>C#</p></div>
                    <div class="whitekey" onclick="updatePitchWrapper(this,2,<%=i%>)"><p>D</p></div>
                    <div class="blackkey" onclick="updatePitchWrapper(this,3,<%=i%>)"><p>D#</p></div>
                    <div class="whitekey" onclick="updatePitchWrapper(this,4,<%=i%>)"><p>E</p></div>
                    <div class="whitekey" onclick="updatePitchWrapper(this,5,<%=i%>)"><p>F</p></div>
                    <div class="blackkey" onclick="updatePitchWrapper(this,6,<%=i%>)"><p>F#</p></div>
                    <div class="whitekey" onclick="updatePitchWrapper(this,7,<%=i%>)"><p>G</p></div>
                    <div class="blackkey" onclick="updatePitchWrapper(this,8,<%=i%>)"><p>G#</p></div>
                    <div class="whitekey" onclick="updatePitchWrapper(this,9,<%=i%>)"><p>A</p></div>
                    <div class="blackkey" onclick="updatePitchWrapper(this,10,<%=i%>)"><p>A#</p></div>
                    <div class="whitekey" onclick="updatePitchWrapper(this,11,<%=i%>)"><p>B</p></div>
                </div>
                Pick Wave type:
                <select onchange="updateWave(this.value, <%=i%>)">
                  <option value="sine">Sine</option>
                  <option value="saw">Saw</option>
                  <option value="square">Square</option>
                  <option value="triangle">Triangle</option>
                </select></br></br>
                <input type="color" id="voice_color" name="voice_color"
                     value="#e66465"
                     onchange="updateColor(this.value, <%=i%>)"
                     >
                <label for="voice_color">Pulse Color</label>
                <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="voice<%=i%>switch"
                    onchange="voiceToggle(this, 'circle<%=i%>')" checked>
                  <label class="onoffswitch-label" for="voice1switch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </div>
                <label for="dot_num<%=i%>">Pulses per measure</label>
                <input type="range" id="pulse_val_<%=i%>" class="slider" name="dot_num<%=i%>" min="0" max="16" value="1" step="1"
                  oninput="populateAll()"
                  onchange="populateAll()">
                <label for="dot_offset<%=i%>">Voice Offset</label>
                <input type="range" id="dot_offset_<%=i%>" class="slider" name="dot_offset<%=i%>" min="0" max="16" value="0" step="1"
                  oninput="offsetWrapper(<%=i%>, this.value)"
                  onchange="offsetWrapper(<%=i%>, this.value)">
              </div>
          <%}%>
        </div>
      </div>

      <div id='vis_container'>
        <div id='step_counter'>0</div>
        <%for (var i = 1; i< numCycles+1;i++){%>
            <div id="circle<%=i%>">
              <div id="dot<%=i%>" class="dot"></div>
            </div>
        <%}%>
      </div>

      <script>
        <%for (var i = 1; i  < numCycles + 1; i++){%>
            arrange("circle<%=i%>");
            $("#voice<%=i%>").slideUp();
            $("#v<%=i%>_btn").click(function(){
                <%for (var j = 1; j < numCycles + 1; j++){%>//toggle voice1
                    <%if (i == j){%>
                        $("#voice<%=j%>").slideDown();
                    <%}else{%>
                        $("#voice<%=j%>").slideUp();
                    <%}%>
                <%}%>
                $("#general").slideUp();
            });
        <%}%>

        $("#general_btn").click(function(){ //toggle voice1
            <%for (var i = 1; i < numCycles; i ++){%>
                $("#voice<%=i%>").slideUp();
            <%}%>
            $("#general").slideDown();
        });

        $(document).ready(function() {
          var btn = $(".playpause");
          btn.click(function() {
            if (btn[0].classList.contains('paused')){
              btn[0].classList.remove('paused');
              Tone.Transport.stop();
            }else{
              btn[0].classList.add('paused');
              Tone.Transport.start();
            }
            return false;
          });
        });
      </script>
    </body>
</html>
